VITE_SUPABASE_URL=https://jafdqygtiesowqiizpsp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphZmRxeWd0aWVzb3dxaWl6cHNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3MjIxMjcsImV4cCI6MjA5MjI5ODEyN30.EtJhEGmUE-iVnshDt7FqJwEWal5GGkiWw2mHi39zJrg
